:root {
    --gradient-blue : linear-gradient(90deg, rgba(44,166,239,1) 0%, rgba(44,166,239,1) 50%, rgba(161,245,253,1) 100%);
    --gradient-blue-weak: linear-gradient(90deg, rgba(44,166,239,.6) 0%, rgba(44,166,239,.6) 50%, rgba(161,245,253,.6) 100%);
    --color-blue: #3499cc;
}
@font-face {
    font-family: "EuropeUnderground";
    src: url("../font/EuropeUnderground/EuropeUndergroundblack.eot"); /* IE9 Compat Modes */
    src: url("../font/EuropeUnderground/EuropeUndergroundblack.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/EuropeUnderground/EuropeUndergroundblack.otf") format("opentype"), /* Open Type Font */
    url("../font/EuropeUnderground/EuropeUndergroundblack.svg") format("svg"), /* Legacy iOS */
    url("../font/EuropeUnderground/EuropeUndergroundblack.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../font/EuropeUnderground/EuropeUndergroundblack.woff") format("woff"), /* Modern Browsers */
    url("../font/EuropeUnderground/EuropeUndergroundblack.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Eurostile";
    src: url("../font/Eurostile/eurostile.eot"); /* IE9 Compat Modes */
    src: url("../font/Eurostile/eurostile.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/Eurostile/eurostile.otf") format("opentype"), /* Open Type Font */
    url("../font/Eurostile/eurostile.svg") format("svg"), /* Legacy iOS */
    url("../font/Eurostile/eurostile.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../font/Eurostile/eurostile.woff") format("woff"), /* Modern Browsers */
    url("../font/Eurostile/eurostile.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans/OpenSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("../font/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("../font/OpenSans/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("../font/OpenSans/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../font/OpenSans/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../font/OpenSans/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 , p, a, span, label, input, textarea, ul, ol, table {
    font-family: "Eurostile", "OpenSans", "EuropeUnderground",  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    letter-spacing: 1px;
}
a:hover {
    text-decoration: none;
}
.text-primary {
    color: var(--color-blue) !important;
}
.bg-dark {
    background-color: #1a1c25 !important;
}
.bg-secondary {
    background-color: #f6f7fb !important;
}
.navbar .navbar-brand img {
    max-height: 64px;
}
.navbar-dark .navbar-nav.menu .nav-link {
    color: #fff;
    border-radius: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid transparent;
}

.navbar-dark .navbar-nav .nav-link.active {
    border-color: #fff;
}
.navbar .nav-tools .navbar-nav {
    padding-left: 1rem;
    margin-bottom: .5rem;
}
@media (min-width: 768px) {
    .navbar .nav-tools .form-control {
        width: 150px;
    }
    .navbar .nav-tools .navbar-nav {
        padding-left: 0;
        margin-bottom: 0;
    }
}
.navbar .nav-tools .search-box .fa {
    position: absolute;
    top: .7rem;
    right: .7rem;
    color: rgba(0,0,0, .5);
    z-index: 1;
}
.navbar .nav-tools .navbar-nav .nav-item img {
    height: 24px;
    max-width: 100%;
}

.dropdown-toggle::after {
    vertical-align: middle;
}
.dropdown-menu .dropdown-item {

}
.dropdown-menu .dropdown-item img {
    margin-right: .5rem;
}
.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
}
.service, .plan, .download-section, .banner, .promo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text-secondary {
    color: #959595 !important
}
.banner {
    position: relative;
    background-image: url("../images/bg-banner.png");
    background-position: bottom;
}
.banner .background {
    position: absolute;
}
.banner .shooting-screen {
    height: 100%;
    padding-top: 2rem;
}
.banner .shooting-screen .description {
    padding-top: 8rem;
}
.banner .shooting-screen .description .slogan {
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 4px;
}
.banner .shooting-screen .description .description-action + .description-action {
    margin-top: 3rem;
}
.banner .shooting-screen .description .description-action a {
    color: #fff;
}
.banner .shooting-screen .description .description-action a .fa {
    filter: drop-shadow(4px 3px 0 rgba(0, 0, 0, .5));
}
.banner .shooting-screen .description .description-action a span {
    line-height: 3.5rem;
}
.features {
    padding-bottom: 0;
}
.features .features-container {
    background-image: url("../images/bg-features.png");
    background-position: right;
    background-size: contain;
    padding-bottom: 3rem;
    background-repeat: no-repeat;
}
.features .features-container .features-item {
    text-align: center;
}
.features .features-container .features-item .shape,
.features .features-container .features-item .shape .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    transition: .5s ease;
    text-align: center;
}
.features .features-container .features-item .shape {
    background-image: url('../images/feature-shape.png');
    height: 200px;
    width: 50%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .28));
    cursor: pointer;
}
.features .features-container .features-item .shape .icon {
    transition: .1s ease;
    height: 200px;
    width: 50%;
}
.features .features-container .features-item:hover .description .title {
    color: var(--color-blue);
}
.features .features-container .features-item:hover .shape .icon {
    filter: invert(1);
}
.features .features-container .features-item .shape .icon.eye {
    background-image: url('../images/eye.png');
}
.features .features-container .features-item .shape .icon.shopping-cart {
    background-image: url('../images/shoping-cart.png');
}
.features .features-container .features-item .shape .icon.hotel {
    background-image: url('../images/hotel.png');
}
.features .features-container .features-item .shape .icon.champagne-glass {
    background-image: url('../images/champagne-glass.png');
}
.features .features-container .features-item:hover .shape {
    background-image: url('../images/feature-shape-hover.png');
    width: 55%;
}
.features .features-container .features-item .description p {
    color: #959595;
    font-style: italic;
}

.about-us {
    background-color: #c4cccd;
}
.about-us .screenshot-container img {
    margin-top: -2.5rem;
    right: -3rem;
    z-index: 1;
    height: 105%;
    object-fit: contain;
}
.about-us .content {
    background-color: #f6f7fb;
    padding-top: 5rem;
    padding-bottom: 3rem;
}
@media (min-width: 768px) {
    .about-us .content {
        padding: 5rem 4.5rem 3rem
    }
    .about-us .screenshot-container img {
        position: absolute;
    }
}
.about-us .content ul {
    list-style: none;
}
.about-us .content ul li {
    margin-bottom: .5rem;
    position: relative;
}
.about-us .content ul li .checked-mark {
    background: center no-repeat url("../images/checked-mark.png");
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
    position: absolute;
    left: -2.2rem;
}

.hr-bottom {
    position: relative;
    margin-bottom: 3rem;
}
.hr-bottom::after {
    position: absolute;
    content: '';
    top: calc(100% + .5rem);
    left: 0;
    background: center no-repeat url('../images/title-hr.png');
    background-size: contain;
    height: 1rem;
    width: 100%;
}
.btn.btn-default {
    background: var(--gradient-blue);
    text-align: center;
    text-transform: uppercase;
    border-radius: 50rem;
    border: 0;
    padding: 1rem 2rem;
    color: #fff;
}
.btn-gradient {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #000;
    transition: background-image 0.5s ease-in-out;
    background-image: url("../images/btn-gradient.png");
}
.btn-gradient .fa {
    line-height: 100%;
    text-align: right;
    flex: 1;
}
.btn-gradient * {
    display: inline-block;
    margin: 0;
    align-self: center;
}
.btn-gradient small {
    font-size: 66%;
}
.btn-gradient .description {
    flex: 2;
    padding-left: 10px;
    text-indent: 2px;
    text-align: left;
    letter-spacing: initial;
    line-height: 100%;
    margin-top: -.4rem;
}
.btn-gradient:hover {
    background-image: url("../images/btn-gradient-hover.png");
    color: #fff;
}
.box-shadow {
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .3);
}
.drop-shadow {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .28));
}
.bg-gray {
    background-color: #c4cccd !important;
}

.carousel.multi-item-carousel .carousel-inner {
    width: inherit;
    padding: 3rem 0 2rem;
}
.app-screenshots .carousel.multi-item-carousel .carousel-inner .carousel-item,
.testimonials .carousel-item.active .testimonial-item {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .28));
}
@media (min-width: 768px) {
    .carousel.multi-item-carousel .carousel-inner .carousel-item {
        opacity: .4;
        display: inline-block;
        margin-right: 0;
        transition: opacity .1s ease;
        margin-bottom: 2rem;
    }
    .carousel.multi-item-carousel .carousel-inner .carousel-item.carousel-item-right,
    .carousel.multi-item-carousel .carousel-inner .carousel-item.carousel-item-left {
        transform: translateX(0);
    }

    .carousel.multi-item-carousel .carousel-control-prev {
        left: -15%;
        opacity: 1;
    }
    .carousel.multi-item-carousel .carousel-control-next {
        right: -15%;
        opacity: 1;
    }
}
.carousel.multi-item-carousel .carousel-inner .carousel-item > * {
    cursor: pointer;
}
.carousel.multi-item-carousel .carousel-inner .carousel-item.active {
    opacity: 1;
}
.carousel.multi-item-carousel .carousel-indicators li {
    background-image: url("../images/carousel-indicator.png");
    height: 1rem;
    width: 1rem;
    border: none;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel.multi-item-carousel .carousel-indicators li.active {
    background-image: url("../images/carousel-indicator-active.png");
}
.carousel.multi-item-carousel .carousel-control-prev-icon,
.carousel.multi-item-carousel .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}
.carousel.multi-item-carousel .carousel-control-prev-icon {
    background-image: url("../images/carousel-control-prev-icon.png");
}
.carousel.multi-item-carousel .carousel-control-next-icon {
    background-image: url("../images/carousel-control-next-icon.png");
}
.promo {
    position: relative;
}
.promo .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: var(--gradient-blue-weak);
}
.promo .container {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}
.promo .video-container {
    background-color: #fff;
    border-radius: 3rem;
    height: 100%;
    padding-top: 60%;
    position: relative;
}
@media (max-width: 768px) {
    .promo .video-container {
        padding-left: 0;
        padding-right: 0
    }
}
.promo .video-container .promo-button {
    z-index: 2;
    position: absolute;
    margin: auto;
    top: 0;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.promo .video-container .promo-button span {
    line-height: 3rem;
    display: flex;
    align-items: center;
}


.introduce .title {

}
.introduce .introduce-content .introduce-item {
    padding: 2rem;
    transition: .2s ease;
}
.introduce p {
    margin: 0;
    color: #959595;
    text-align: left;
}
.introduce .introduce-content .introduce-item:hover {
    box-shadow: 3px 3px 30px rgba(0,0,0, .3);
}
.introduce .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .introduce .introduce-content .introduce-item {
        padding-left: 7rem;
    }
    .introduce .introduce-content .introduce-item:hover {
        padding-left: 2rem;
    }
}
.service {
    background-image: url("../images/bg-site-7.png");
}
.service .service-container .service-item {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.service .service-container .service-item .item-content {
    position: absolute;
    top: 15%;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 1rem;
}
.service .service-container .service-item .item-content img {
    width: 4rem;
}
.service .service-container .service-item .item-image {
    width: 200px;
    height: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    transition: .5s ease;
    cursor: pointer;
    max-width: 100%;
    display: block;
}
.service .service-container .service-item .item-image::before,
.service .service-container .service-item .item-image::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: .3s ease;
}
.service .service-container .service-item .item-image::before {
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
    z-index: 1;
    border: 3px dashed rgba(255, 255, 255, 1);
    opacity: 1;
}
.service .service-container .service-item .item-image::after {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}
.service .service-container .service-item .item-image:hover {
    filter: drop-shadow(0 0 20px rgba(44,166,239,.7));
    transform: scale(1.1);
}
.service .service-container .service-item .item-image:hover::after {
    background-color: rgba(0, 0, 0, .34);
}

.service .service-container .service-item:hover .item-image::before {
    border-color: rgba(255, 255, 255, 0);
}
.service .service-container .service-item .item-image + .plus {
    position: absolute;
    text-align: center;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    top: 0;
    left: calc(50% + 2.5rem);
    line-height: 4rem;
    font-size: 2rem;
    color: var(--color-blue);
    opacity: 1;
    transition: .5s ease;
    cursor: pointer;
}
.service .service-container .service-item .item-image:hover + .plus ,
.service .service-container .service-item .plus:hover {
    opacity: 1;
    transform: scale(1.1);
}

.testimonials .carousel-item {
    opacity: 1 !important;
}
.testimonials .carousel-item .testimonial-item {
    border: none;
}
.testimonials .carousel-item .testimonial-item .testimonial-info img {
    object-fit: cover;
    height: 100%;
}
.testimonials .carousel-item .testimonial-item .testimonial-body {
    padding: 2.5rem;
    padding-bottom: 5rem;
    position: relative;
    text-align: justify;
}
.testimonials .carousel-item .testimonial-item .testimonial-body p::after {
    position: absolute;
    content: "''";
    font-size: 7rem;
    font-weight: bold;
    color: #000;
    opacity: .5;
    right: 2.5rem;
    bottom: -2.5rem;
    letter-spacing: -1px;
    transition: .3s ease;
}
.testimonials .carousel-item.active .testimonial-item .name,
.testimonials .carousel-item.active .testimonial-item .testimonial-body p::after {
    color: var(--color-blue);
}
.plan {
    background-color: #f6f7fb;
}
.plan .background{
    background-image: url("../images/bg-site-9.png");
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: .7;
}
.plan .transparent, .plan .transparent .table th, .plan .transparent .table td {
    color: transparent;
}
.plan .container {
    padding: 0;
}
.plan .container.position-absolute {
    top: 3rem;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
}
.plan .container.position-absolute .table td, .plan .container.position-absolute .table th{
    background-color: transparent;
    box-shadow: none
}
.plan .table {
    color: #959595;
    padding: 15px;
}
.plan .table img {
    margin-bottom: 1.5rem;
}

.plan .table tr th {
    border: 0;
    font-weight: normal;
    vertical-align: top;
    text-transform: uppercase;
    font-size: .8rem;
}
.plan .table tbody td:first-child {
    text-align: left;
}
.plan .table tbody td {
    padding: .25rem;
    vertical-align: middle;
    font-size: .9rem;
}
.plan .table thead tr th + th, .plan .table tbody tr td + td {
    background-color: #fff;
}
.plan .table thead tr th:first-child + th {
    border-radius: 1rem 0 0 0;
}
.plan .table thead tr th + th:last-child {
    border-radius: 0 1rem 0 0;
}
.plan .table tbody tr:last-child td:first-child + td {
    border-radius: 0 0 0 1rem;
}
.plan .table tbody tr:last-child td + td:last-child {
    border-radius: 0 0 1rem 0;
}
.plan .table thead tr th:not(:first-child),
.plan .table tbody tr td:not(:first-child){
    box-shadow: 4px 7px 8px rgba(0, 0, 0, .1);
}
.plan .table tfoot td, .plan .table tfoot th {
    padding-top: 1.5rem;
}
.plan .table .btn {
    padding: 1rem;
    font-size: .9rem;
}

.download-section {
    background-image: url("../images/bg-site11.png");
    background-repeat: repeat;
    background-size: contain;
}
.download-section .fly-images {
    margin-top: -6rem;
}
.download-section .download-container {
    padding-top: 2.5rem;
}
.download-section .download-container .download-description {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
}
.contact .card {
    border: 0;
    margin: 0 1.5rem;
}

.contact .card .card-header {
    background-color: var(--color-blue);
    border-radius: 1rem 1rem 0 0;
    padding: 1.75rem
}
.contact .search-box {
    position: relative;
}
.contact .search-box .form-control,
.contact .search-box .btn {
    height: 45px;
    border-radius: 50rem;
}
.contact .search-box .form-control {
    width: 100%;
    z-index: 0;
    font-style:italic;

}
.contact .search-box .btn {
    position: absolute;
    right: 0;
    padding: .5rem 0rem;
    font-weight: 600;
    z-index: 1;
    font-size: 1.3rem;
    line-height: 100%;
    background: var(--gradient-blue);
    max-width: 7rem;
    min-width: 4.5rem;
    width: 30%;
}

.contact .card .card-body {
    box-shadow: 5px 5px 15px rgba(0,0,0,.3);
    background-color: #fff;
    padding: 0;
    margin: 0 -1.5rem;
    z-index: 1;
}
.form-container {
    padding: 4rem 4rem 2rem;
    position: relative;
}
.form-container .form-control {
    border: 0;
    padding: 0;
    border-bottom: 2px solid #959595;
    border-radius: 0;
    box-shadow: none;
    resize: none;
}
.form-container .btn {
    position: absolute;
    right: -.5rem;
    bottom: 1rem;
    padding: .45rem .7rem
}
.form-container .btn .fa.fa-send {
    color: transparent;
    height: 1.3rem;
    width: 1.3rem;
    background: center no-repeat url("../images/icon-send.png");
    background-size: contain;
}
.contact .card .card-footer {
    border-radius: 0 0 1rem 1rem;
    background: linear-gradient(90deg, rgb(75, 172, 214) 0%, rgb(105, 196, 226) 50%, rgb(155, 237, 246) 100%);
    padding-top: 2rem;
}
.contact .card .card-footer .fa {
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    color: var(--color-blue);
}
.contact .card .card-footer .fa.fa-envelope {
    font-size: 1.4rem;
}
.contact .card .card-footer a {
    color: #fff;
}
.contact .card .card-footer p {
    color: #fff;
    margin-top: .5rem;
}
footer {
    border-top: 2px solid #626363;
    padding-top: 1rem;
}
footer a {
    color: #000;
}
footer a .fa {
    font-size: 2rem;
}
footer .link-accounts a + a {
    margin-left:  5px;
}
footer .link-accounts a {
    background-color: #4dbcf3;
    border-radius: 50%;
    color: #fff;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    text-align: center;
    filter: drop-shadow(5px 4px 3px rgba(0, 0, 0, .3));
}