.top-header, .nav-top-container {
    background-color: #292c2e;
}
.top-header li a , .nav-top-container li a {
    color: #fff
}
.ad-maker-logo-container {
    float: left;
    line-height: 65px;
}
.ad-maker-logo-container .ad-maker-main-logo {
    margin-left: 10px;
}
.ad-maker-logo-container .ad-maker-main-logo, .navbar.navbar-fixed-top .navbar-brand img {
    max-height: 48px;
    max-width: 100%;
    height: inherit;
}