:root {
    --gradient-blue : linear-gradient(90deg, rgba(44,166,239,1) 0%, rgba(44,166,239,1) 50%, rgba(161,245,253,1) 100%);
    --gradient-blue-weak: linear-gradient(90deg, rgba(44,166,239,.6) 0%, rgba(44,166,239,.6) 50%, rgba(161,245,253,.6) 100%);
    --color-blue: #3499cc;
}

.plan .table {
    background-color: #fff;
}
.plan .table img {
    margin-bottom: 1.5rem;
}

.btn.btn-default {
    background: var(--gradient-blue);
    text-align: center;
    text-transform: uppercase;
    border-radius: 50rem;
    border: 0;
    padding: 1rem 2rem;
    color: #fff;
}